
<h1> {{title}}</h1>

<div *ngIf="deletedHero; else notDeleted" >

  <h3> Héroe borrado <small class="text-danger"> {{deletedHero}} </small></h3>

</div>

<ng-template #notDeleted>
  <h3 > No ha borrado nada.</h3>
</ng-template>


<button
  *ngIf="heroNames.length; else noQuedanHeroes"
  (click)="removeLastHero()" class="btn btn-outline-danger">
  Borrar último héroe
</button>

<ng-template #noQuedanHeroes>
  <h3 > No quedan héroes. </h3>
</ng-template>




<ul class="mt-2 list-group">
  <li
    *ngFor="let name of heroNames"
    class="list-group-item"> {{name}}
  </li>
</ul>
